 /* Стили для страницы "Контакты" */
 .u-section-1 {
  background-image: linear-gradient(#4c7397, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 511px;
}

.u-section-1 .u-list-1 {
  width: 1072px;
  margin: 35px auto 0 34px;
}

.u-section-1 .u-repeater-1 {
  min-height: 444px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 318px;
}

.u-section-1 .u-group-1 {
  width: 501px;
  min-height: 153px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 113px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -81px 28px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 447px;
  min-height: 150px;
  margin: -150px 19px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 89px;
  height: 110px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -79px 44px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 386px;
  min-height: 158px;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 120px;
  height: 119px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -84px 19px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 481px;
  min-height: 156px;
  margin: -159px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 120px;
  height: 116px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -82px 47px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3px;
    margin-left: 288px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 197px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -152px;
    margin-right: 29px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 170px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 31px;
    margin-right: 361px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -323px;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 187px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -4px;
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 213px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 222px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-right: 220px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 218px;
    margin-top: 6px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-group-3 {
    min-height: 227px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 24px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 196px;
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -182px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  background-image: none;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.8;
  }
}